* {
    margin: 0px;
    padding: 0px;
}
/* start header style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.favoraite i {
  font-size: 40px;
}
/* end header style */

/* start card styling */
.p-info {
  display: flex ;
  flex-direction: column;
}
.p-info .name {
  display: flex;
}
.p-add-shop .btn {
  background-color: #245AC4;
  padding: 5px 17px;
  color: whitesmoke;
  border-radius: 5px;
}
.p-add-fav i {
  font-size: 20px;
}
.p-card-footer{
  display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end card styling */

.Filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

h4 {
    color: #000;
    text-align: center;
    font-weight: 600;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 12px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
}

.range-slider {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px 20px 0px;
    position: relative;
}

input[type=range] {
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #00c271;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}

/* Costum Select Style */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

#selecter {
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
}

select {
  width: 20%;
  height: 40px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#filterButton  {
  width: 15%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#Result {
    display: flex;
    align-items: center;
}
#Shop{
    border-style: solid;
}

#filterButton  .navbar-burger .flex items-center
{
    position: relative;
    width : "60px";
    margin-left:"0px"
}

#navbar-burger{
  align-items: center;
  width: 40px;
  height: 40px;
}   
#navbar-burger span.relative.inline-block {
  width: 40px;
  height: 40px;
}
#navbar-burger svg {
  width: 40px;
  height: 40px;
}


.slider-container {
  position: relative;
  width: 300px;
  margin: auto;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 300px;
  height: 100%;
  object-fit: contain;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 20px;
  background: grey;
  border: none;
  cursor: pointer;
}

.slider-btn-prev {
  left: 0;
}

.slider-btn-next {
  right: 0;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
#place-order{
  width: 100%;
}

#scroll-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

#scroll-to-top-btn::before {
  content: "\25B2";
}

#scroll-to-top-btn:hover {
  background-color: #555;
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hide the default controls */
.video::-webkit-media-controls {
  display:none !important;
}
.video::-webkit-media-controls-enclosure {
  display:none !important;
}
.video::-webkit-media-controls-overlay-play-button {
  display:none !important;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: none;
  background: url("/images/play.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.play-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  border-style: solid;
  border-width: 0 0 30px 50px;
  border-color: transparent transparent transparent white;
}

.play-button:hover:before {
  border-color: transparent transparent transparent #fff;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loading-image {
  max-width: 100%;
  max-height: 100%;
}
