html,
body {
  height: 100%;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}


.btnpricing {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  padding: 0 20px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  box-shadow: none;
  background-color: #f6d961;
  transition: background-color 200ms ease-in-out, box-shadow 160ms ease-in-out;
  padding: auto;
  margin: 18px 0;
}
.btnpricing:hover, .btnpricing:focus {
  background-color: #f3cd31;
}
.btnpricing:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btnpricing:active {
  background-color: #f6d961;
}
.btnpricing.btn-gray {
  background-color: #ebeef1;
}
.btnpricing.btn-gray:hover, .btn.btn-gray:focus {
  background-color: #dce1e7;
}
.btnpricing.btn-gray:active {
  background-color: #ebeef1;
}

[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 100%;
}
[type=range]::-moz-focus-outer {
  border: 0;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #f4f6f7;
}
[type=range]:focus::-ms-fill-lower {
  background: #ebeef1;
}
[type=range]:focus::-ms-fill-upper {
  background: #f4f6f7;
}
[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 11px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #ebeef1;
  border: 0 solid #ebeef1;
  border-radius: 99px;
}

[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: hsl(48, 89%, 67%);
  border: 0 solid #eceff1;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: default;
  height: 30px;
  width: 36px;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/dots-nine-3602636-3003318.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  background-color: #f4c015;
  transition: background-color 200ms ease-in-out, box-shadow 160ms ease-in-out;
  
}
/*
[type=range]::-moz-range-track {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: #ebeef1;
  border: 0 solid #ebeef1;
  border-radius: 99px;
  height: 4px;
}*/
/*
[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #f6d961;
  border: 0 solid #eceff1;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: default;
  height: 30px;
  width: 36px;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/dots-nine-3602636-3003318.png");
  background-size: 34%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 
[type=range]::-ms-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}
[type=range]::-ms-fill-lower {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #e2e6eb;
  border: 0 solid #ebeef1;
  border-radius: 198px;
}
[type=range]::-ms-fill-upper {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #ebeef1;
  border: 0 solid #ebeef1;
  border-radius: 198px;
}
[type=range]::-ms-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #f6d961;
  border: 0 solid #eceff1;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: default;
  height: 300px;
  width: 36px;
  /*background-image: url("https://cdn.iconscout.com/icon/free/png-256/dots-nine-3602636-3003318.png");
  background-size: 34%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: 2px;*/
/*
[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}
/*end*/

/*end*/


#type {
  margin: 10px 0;
  position: relative;
  clear: both;
}

.value {
  display: none !important;
}

.bigHead {
  font-size: 1.8em;
  color: rgb(101, 101, 101);
  margin-top:0;
  padding-top: 15px;
}

h4 {
  color: #b1b1b1;
  font-size: 1.1em;
 
}

.results {
  color: #f4c015;
  font-weight: 600;
  font-size: 1.8em;
}

#type h4 {
  font-size: 1.1em;
  display: inline-block;
  margin: 5px 10px;
  clear: none;
  

}
#type h6 {
  
  display: inline!important;
  margin: none;
  clear: none;

}
#type .check-box {
  float: left;
}

.box1 {
  min-width: 120px;
  margin: 15px 0;
  margin-bottom: 1px;
  clear: none;
  color: grey;
  text-align: left!important;
  font-weight: 200;
  font-size: 0.9em;
  display: flex;
}

#boxe1 {
font-size: 15px;
  font-weight: 1;
  margin: 0;
}

.phras{
font-size: 15px;
  font-weight: 1;
  margin: 0;
   clear:left;
 float: left;
}

#currentValue {
font-size: 20px;
  font-weight: 1;
  margin: 0;
display: inline-block;
}

#pricing-Directorywebsite {
font-size: 20px;
  font-weight: 1;
  margin: 0;
display: inline-block;
}
/*CHECK BOXES*/
/* Checkmark style starts */

@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}

@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}

@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 30px;
  }
}

input[type=checkbox] {
  display: none;
}

.check-box {
color:white;
font-size: 2px;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 5px solid #97874630;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
  margin-right: 10px;
}

.check-box:last-child,
#specials ul li:last-child {
  /*margin-right: 0;*/
}

.check-box::before,
.check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 5px;
  background-color: #f4c015;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 2px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 20px;
  left: 15px;
  box-shadow: 0 0 0 3px #efefef;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.check-box::after {
  top: 10px;
  left: 4px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #f4c015;
}

input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 5px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 30px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.grey {
  color: rgb(51, 51, 51) !important;
}
.fixed {
  position: fixed;
  top: 0;
  height: 25px;
  z-index: 1;
  width:100%;
}


/*new slider*/
